<div class="top-menu">

  <img class="logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>
<div style="border: 5px solid red; min-height: 900px; margin: 10px;"></div>
<div>

  <div class="demo">


      <button (click)="onEditCourse()" i18n>Edit Course</button>

  </div>

  <div #title> Hello..... </div>

  @defer(on viewport(title); prefetch on idle) {
      <div class="courses">
        <course-card  *ngFor="let course of courses$ | filterByCategory: 'BEGINNER'"
                 (courseChanged)="save($event)"
                 type="beginner"
                 [course]="course">

          <course-image [src]="course.iconUrl"></course-image>

          </course-card>
      </div>
  }
  @placeholder {
    <h2> this is a placeholder</h2>
  }
  @loading {
    <h2>Loading...</h2>
  }
  @error {
    <h2>Error...</h2>
  }  


</div>




